:root {
    font-family: Arial, Helvetica, sans-serif;
    --input-border-clr: rgb(158 22 22);
    --submit-button-clr: rgb(158 22 22);
    --off-white-clr: rgb(207, 207, 207);
    --background-clr: rgb(18 12 12);

    font-size: 20px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(7, 8, 34); */
    background-color: var(--background-clr);
    box-sizing: border-box;
}

.cv-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.cv-form__heading,
.cv-details__heading {
    color: var(--off-white-clr);
}

.personal-info,
.job-info,
.school-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--off-white-clr);
    gap: 8px;
}

.work-experience, 
.education-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.personal-info__heading,
.work-experience__heading,
.job-info__heading,
.education-experience__heading {
    color: var(--off-white-clr);
}

.personal-info__input-container input,
.job-info__input-container input,
.school-info__input-container input {
    border: solid 1px var(--input-border-clr);
    color: var(--off-white-clr);
    border-radius: 4px;
    padding: 8px;
    outline: none;
    background: none;
}

.job-info__button-container,
.school-info__button-container {
    display: flex;
    gap: 7px;
}

.personal-info__button-container button,
.job-info__button-container button,
.school-info__button-container button,
.work-experience__add-button,
.education-experience__add-button,
.cv-form__submit-cv-button,
.cv-form__pdf-button {
    font-size: 0.6rem;
    border-radius: 4px;
    font-weight: bold;
    padding: 8px 8px;
    cursor: pointer;
}

.personal-info__button-container button,
.work-experience__add-button,
.education-experience__add-button,
.job-info__add-button,
.school-info__add-button,
.job-info__edit-button,
.school-info__edit-button {
    border: none;
    background-color: var(--submit-button-clr);
    color: var(--off-white-clr);

}


.job-info__delete-button,
.school-info__delete-button,
.cv-form__submit-cv-button,
.cv-form__pdf-button {
    background: none;
    border: solid 1px var(--submit-button-clr);
    color: var(--submit-button-clr);
}

.cv-form__pdf-button {
    text-decoration: none;
}

.personal-info__detail-container,
.job-info__detail-container,
.school-info__detail-container {
    border: solid 1px var(--submit-button-clr);
    padding: 5px 25px;
    border-radius: 8px;
}


.personal-info__detail-container p,
.job-info__detail-container p,
.school-info__detail-container p {
    border-bottom: solid 1px var(--input-border-clr);
    border-radius: 4px;
    width: 20%;
    min-width: 150px;
    padding: 8px;
}

.personal-info__detail-container h4,
.job-info__detail-container h4,
.school-info__detail-container h4 {
    margin: 0;
    font-size: 0.8rem;
}

.job-info__heading,
.school-info__heading {
    font-size: 0.8rem;
}