:root {
    font-family: Arial, Helvetica, sans-serif;
    --input-border-clr: rgb(37, 87, 116);
    --submit-button-clr: rgb(37, 87, 116);
    --off-white-clr: rgb(207, 207, 207);
}

body {
    background-color: rgb(7, 8, 34);
    box-sizing: border-box;
}

.personal-info {
    display: flex;
    flex-direction: column;
    color: var(--off-white-clr);
    gap: 16px;
}

.personal-info__heading {
    color: var(--off-white-clr);
}

.personal-info__input-container input {
    border: solid 1px var(--input-border-clr);
    color: var(--off-white-clr);
    border-radius: 4px;
    padding: 8px;
    outline: none;
    background: none;
}

.personal-info__button-container button {
    border: none;
    border-radius: 4px;
    color: var(--off-white-clr);
    font-weight: bold;
    background: var(--submit-button-clr);
    padding: 8px 8px;
    cursor: pointer;
}

.personal-info__detail-container p {
    border: solid 1px var(--input-border-clr);
    border-radius: 4px;
    width: 20%;
    min-width: 150px;
    padding: 8px;
}

.personal-info__detail-container h4 {
    margin: 0;
    font-size: 0.8rem;
}