body {
    background-color: rgb(7, 8, 34);
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.personal-info__heading {
    color: white;
}

.personal-info__input-container input {
    border: solid 1px white;
    color: white;
    border-radius: 4px;
    padding: 8px;
    outline: none;
    background: none;
}